$primary-color : #2445A8;
$primary-font:'Manrope', sans-serif;
$technology-color : #005e70;
$health-color:#08743f;
$finance-color:#767E0F;
$travel-color:#dc6516;
$entertainment-color:#8d1874;
$parenting-color:#66398f;
